html, body {
  background-color: rgb(235, 163, 10);
  text-align: center;
  margin: 0;
  padding: 0;
  align-content: center;
}
.body .h1{
  font-weight: 100;
  
}
h1 {
  color: rgba(0, 0, 0, 0.952);
}
footer{
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}
a {
  color: rgb(0, 1, 2);
}
canvas {
  margin: auto;
  width: 50%;
  display: block;
}

